header{

    background-color: purple;
    padding: 20px;
 }
 
 #logo{
    border-radius: 10px;
    width: auto;
 }
 
 @font-face{
    font-family: 'NanumGothic';
    src: url('NanumGothic-Regular.ttf') format('truetype');


 }

 .titulo-principal{
   position: absolute;
   top: 30%;
   left: 45%;
   transform: translate(-10%, -50%);
   font-size: 50px;
   font-family: 'NanumGothic';
   text-align: center;


 }

 main{
    width: 520px;
    margin: auto;
 }
 